<span width="100%"
        style="color:#222; font-family: Helvetica, Arial, sans-serif; font-weight: 400; vertical-align: top; font-size: 12px; text-align: center; line-height: 18px;"
        class="fullCenter varela">
        Equipe Fastfeet
</span>
