<strong> Olá, {{ deliveryman }}</strong>
<p>
  Infelizmente a entrega do produto {{ product }} do cliente {{ recipient.name }}
  foi cancelada, a entrega deste produto não está mais disponível.
</p>

